<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="mdoutoure">

        <title>{% block title %}nicetruc!{% endblock %}</title>

{#        {% block stylesheets %}

            {% stylesheets
                'client/bower_components/bootstrap/dist/css/bootstrap.css'
                 'client/app/views/css/main.css'
                'client/app/views/css/inscription.css'
            filter='cssrewrite'
            output='client/compiled/main.css'%}
                <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
            {% endstylesheets %}

        {% endblock stylesheets%}#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="client/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">
        <link rel="stylesheet" href="client/app/views/css/main.css" type="text/css">
        <link rel="stylesheet" href="client/app/views/css/inscription.css" type="text/css">
        <link rel="stylesheet" href="client/app/views/css/search.css" type="text/css">
        <link rel="stylesheet" href="client/app/views/css/annonce.css" type="text/css">
    </head>
    <body>


    <div class="container">
        {% block body %}
            {#<section class="col-md-8 col-md-offset-2">#}
                {#{% block messageFlash %}#}
                    {#{% set typeMessages = ['info', 'success', 'warning', 'danger'] %}#}
                    {#{% for typeMessage in typeMessages %}#}
                        {#{% for message in app.session.flashbag.get(typeMessage) %}#}
                            {#<div class="alert alert-dismissible alert-{{ typeMessage }}">#}
                                {#<button type="button" class="close" data-dismiss="alert">×</button>#}
                                {#<p class="text-center">{{ message }}</p>#}
                            {#</div>#}
                        {#{% endfor %}#}
                    {#{% endfor %}#}
                {#{% endblock messageFlash%}#}
            {#</section>#}

            {#<section class="col-md-8 col-md-offset-2">#}

            {#</section>#}

        {% endblock body %}
    </div>


    {% block javascripts %}
        {% javascripts
            'client/bower_components/angular/angular.min.js'
            'client/bower_components/jquery/dist/jquery.min.js'
            'client/bower_components/bootstrap/dist/js/bootstrap.min.js'
            'client/bower_components/angular-ui-router/release/angular-ui-router.min.js'
            'client/bower_components/lodash/lodash.min.js'
            'client/bower_components/restangular/dist/restangular.min.js'
            'client/bower_components/angular-cookies/angular-cookies.min.js'
            'client/bower_components/es5-shim/es5-shim.min.js'
            'client/bower_components/es5-shim/es5-sham.min.js'
            'client/bower_components/angular-file-upload/dist/angular-file-upload.min.js'
            'client/bower_components/ng-file-upload/ng-file-upload.min.js'

            'client/app/cryptoJS/sha1.js'
            'client/app/cryptoJS/sha512.js'
            'client/app/cryptoJS/md5.js'
            'client/app/cryptoJS/enc-base64-min.js'

            'client/app/app.js'
            'client/app/routing.js'
            'client/app/config.js'

            'client/app/services/VilleService.js'
            'client/app/services/QuartierService.js'
            'client/app/services/UserService.js'
            'client/app/services/CategorieService.js'
            'client/app/services/CarburantService.js'
            'client/app/services/BoitierService.js'
            'client/app/services/MarqueService.js'
            'client/app/services/ModeleService.js'
            'client/app/services/ModeleMarqueService.js'
            'client/app/services/ImageService.js'
            'client/app/services/VoitureService.js'
            'client/app/services/LoginService.js'


            'client/app/services/Base64.js'
            'client/app/services/TokenHandler.js'
            'client/app/services/AuthHandler.js'
            'client/app/services/Salt.js'
            'client/app/services/Digest.js'

            'client/app/controllers/MainController.js'
            'client/app/controllers/VilleController.js'
            'client/app/controllers/QuartierController.js'
            'client/app/controllers/ProfileController.js'
            'client/app/controllers/CategorieController.js'
            'client/app/controllers/AnnonceVoitureController.js'
            'client/app/controllers/CarburantController.js'
            'client/app/controllers/BoitierController.js'
            'client/app/controllers/MarqueController.js'
            'client/app/controllers/ModeleController.js'
            'client/app/controllers/ModeleMarqueController.js'
            'client/app/controllers/SearchVoitureController.js'
            'client/app/controllers/LoginController.js'

            'client/app/directives/equalsTo.js'
            'client/app/directives/ntThumb.js'



            'client/app/ui.bootstrap/ui-bootstrap-tabs-0.13.4.js'
        output='client/compiled/main.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
