<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="mdoutoure">

        <title>{% block title %}nicetruc!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'client/bower_components/bootstrap/dist/css/bootstrap.min.css'
                'client/app/views/css/main.css'
                'client/app/views/css/inscription.css'
            filter='cssrewrite'
            output='client/compiled/main.css'%}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
        <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
        <![endif]-->
    </head>
    <body>
    {% block nav %}
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">NiceTruc</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            {#<a href="#/test">Test</a>#}
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="profil" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{ app.user.nomUser }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="{{ path('fos_user_profile_show') }}">Profil</a></li>
                                    <li><a href="{{ path('nicetruc_article') }}">Ajouter une annonce</a></li>
                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li><a href="{{ path('nicetruc_ville') }}">Ville</a></li>
                                        <li><a href="{{ path('nicetruc_quartier') }}">Quartier</a></li>
                                        <li><a href="{{ path('nicetruc_categorie') }}">Categorie</a></li>
                                    {% endif %}
                                    <li><a href="{{ path('fos_user_security_logout') }}">Deconnexion</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <li><a href="{{ path('fos_user_registration_register') }}" id="btnAbout">Inscription</a></li>
                            <li><a href="{{ path('fos_user_security_login') }}" id="btnAbout">Connexion</a></li>
                        {% endif %}

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock %}


    <div class="container">
        {% block body %}
            <section class="col-md-8 col-md-offset-2">
                {% block messageFlash %}
                    {% set typeMessages = ['info', 'success', 'warning', 'danger'] %}
                    {% for typeMessage in typeMessages %}
                        {% for message in app.session.flashbag.get(typeMessage) %}
                            <div class="alert alert-dismissible alert-{{ typeMessage }}">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <p class="text-center">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock messageFlash%}
            </section>

            {#<section class="col-md-8 col-md-offset-2">#}
            <div ui-view>
                {% block content %}

                {% endblock content %}
            </div>
            {#</section>#}

        {% endblock body %}
    </div>


    {% block javascripts %}
        {% javascripts
            'client/bower_components/angular/angular.min.js'
            'client/bower_components/jquery/dist/jquery.min.js'
            'client/bower_components/bootstrap/dist/js/bootstrap.min.js'
            'client/bower_components/angular-ui-router/release/angular-ui-router.min.js'
            'client/bower_components/lodash/lodash.min.js'
            'client/bower_components/restangular/dist/restangular.min.js'

            'client/app/app.js'
            'client/app/routing.js'
            'client/app/config.js'

            'client/app/services/VilleService.js'
            'client/app/services/QuartierService.js'
            'client/app/services/UserService.js'
            'client/app/services/CategorieService.js'

            'client/app/controllers/VilleController.js'
            'client/app/controllers/QuartierController.js'
            'client/app/controllers/ProfileController.js'
            'client/app/controllers/CategorieController.js'
            'client/app/controllers/ArticleController.js'

            'client/app/directives/equalsTo.js'
            'client/app/ui.bootstrap/ui-bootstrap-tabs-0.13.4.js'
        output='client/compiled/main.js'%}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
