{#{% trans_default_domain 'FOSUserBundle' %}#}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 form-login">
            <div class="row">
                <div class="col-lg-12">
                    <h4>Inscription</h4>
                    <form id="inscription-form" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" role="form" name="formInscription">
                        <div class="form-group">
                            {{ form_row(form.nomUser,{'attr':{'ng-model': 'newUser.nomUser'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.prenomUser,{'attr':{'ng-model': 'newUser.prenomUser'}}) }}
                        </div>

                        <div class="form-group" ng-class="{'has-error':formInscription.email.$dirty && formInscription.email.$invalid,'has-success':formInscription.email.$dirty && formInscription.email.$valid}">
                            {{ form_row(form.email,{'attr':{'ng-model': 'newUser.email'},'full_name':'email'}) }}
                            <span ng-show="formInscription.email.$dirty && formInscription.email.$invalid">
                                Cette adresse est invalide.
                            </span>
                        </div>

                        <div class="form-group" ng-class="{'has-error':formInscription.password.$dirty && formInscription.password.$invalid,'has-success':formInscription.password.$dirty && formInscription.password.$valid}">
                            {{ form_row(form.plainPassword,{'attr':{'ng-model': 'newUser.password','ng-minlength': 1},'full_name':'password'}) }}
                            <span ng-show="formInscription.password.$dirty && formInscription.password.$error.minlength">
                                La longueur est invalide
                            </span>
                        </div>
                        <div class="form-group" ng-class="{'has-error':formInscription.confirmationPassword.$dirty && formInscription.confirmationPassword.$invalid,'has-success':formInscription.confirmationPassword.$dirty && formInscription.confirmationPassword.$valid}">
                            {{ form_row(form.confirmationPassword,{'attr':{'ng-model': 'newUser.confirmationPassword','ng-minlength': 1,'equals-to':'formInscription.password'},'full_name':'confirmationPassword'}) }}
                            <span class="text-danger" ng-show="formInscription.confirmationPassword.$invalid">
                                Les deux password doivent etre identiques
                            </span>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3">
                                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-info" value="Enregistrer" ng-disabled="formInscription.$invalid">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>