{% trans_default_domain 'FOSUserBundle' %}
<div ng-controller="ProfileController">

    <tabset type="tabs" >
        <tab heading="Profil">
            <div class="row">
                <div class="pd-20">
                    <div class="panel panel-default">
                        <div class="panel-heading">Information Personnelle</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Nom:</label>
                                    <div class="col-xs-7 controls">{{ app.user.nomUser }}</div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Prenom:</label>
                                    <div class="col-xs-7 controls">{{ app.user.prenomUser }}</div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Email:</label>
                                    <div class="col-xs-7 controls">{{ app.user.email }}</div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">Adresse</div>
                        <div class="panel-body">
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Ville:</label>
                                    {% if app.user.quartier %}
                                        <div class="col-xs-7 controls">{{ app.user.quartier.ville.libelleVille }}</div>
                                    {% endif %}
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Quartier:</label>
                                    {% if app.user.quartier %}
                                        <div class="col-xs-7 controls">{{ app.user.quartier.libelleQuartier }}</div>
                                    <!-- col-sm-10 -->
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Telephone:</label>
                                    <div class="col-xs-7 controls">{{ app.user.telephone }}</div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <label class="col-xs-5 control-label">Site web:</label>
                                    <div class="col-xs-7 controls">{{ app.user.siteWeb }}</div>
                                    <!-- col-sm-10 -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </tab>
        <tab heading="Modifier"  active="true">
            <div class="row">
                <div class="pd-20">

                    <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
                        <div class="panel panel-default">
                            <div class="panel-heading">Information Personnelle</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_row(form.nomUser) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.prenomUser) }}
                                </div>

                                <div class="form-group">
                                    {{ form_row(form.email) }}
                                </div>
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">Adresse</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_row(form.telephone) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(form.siteWeb) }}
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="nicetruc_user_profile_form_ville" class="required">Ville</label>
                                        <select class="form-control" id="nicetruc_user_profile_form_ville" name="nicetruc_user_profile_form[ville]"
                                                ng-model="ville"
                                                ng-options="ville.libelleVille
                                            for ville in villes track by ville.id" ng-change="hp (ville)"
                                               {% if app.user.quartier %} ng-init="ville.id={{ app.user.quartier.ville.id }}" {% endif %}>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label for="nicetruc_user_profile_form_quartier" class="required">Quartier</label>
                                        <select class="form-control" id="nicetruc_user_profile_form_quartier" name="nicetruc_user_profile_form[quartier]"
                                                ng-model="quartier"
                                                ng-options="quartier.libelleQuartier
                                            for quartier in quartiers|filter:{id:{{ app.user.quartier.id }}} track by quartier.id"
                                                {% if app.user.quartier %} ng-init="quartier.id={{ app.user.quartier.id }}" {% endif %}>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                        </div>
                    </form>
                    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mot de passe actuel</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    {{ form_row(formPassword.current_password) }}
                                </div>
                                <div class="form-group">
                                    {{ form_row(formPassword.plainPassword) }}
                                </div>
{#
                                <div class="form-group">
                                    {{ form_row(form.confirmationPassword) }}
                                </div>
#}
                                <div class="form-group">
                                    <input type="submit" value="Changer" class="btn btn-info"/>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </tab>
    </tabset>
</div>

